# if we want to json deserialize @Value classes with @NonNull attributes (which makes usage of @NoArgsConstructor impossible),
# we need a specific constructor to let jackson create the objects
# https://medium.com/consulner/lombok-tricks-and-common-mistakes-fbf0ed044c3c
lombok.anyConstructor.addConstructorProperties=true

# Copy the Qualifier/Lazy annotation from the instance variables to the constructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value

# this allows jacoco to exclude coverage on generated methods
lombok.addLombokGeneratedAnnotation = true